/* --- MOBILE FIRST --- */

/* Carousel images */
.slide-img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
    max-height: 100% ;
    filter: brightness(50%);
}

.logo {
    height: 50px;
    width: 50px;
}

.search-box {
    background-color: #1c7bc1;
}

.results-box {
    margin-top: 50px;
    margin-left: 300px;
}

/* TABLETS & DESKTOP*/

@media only screen and (min-width: 768px) {

}