<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
   <title>Home Residencias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<body>
  {% include 'barra.html' %}

    <script>
document.getElementById("home").innerHTML = "<li class='nav-item active'><a class='nav-link' href='./index.php'><p class='font-weight-bold'>Inicio</p></a></li>";



</script>

      <h1 style="position: relative; left:20%;">Residencias</h1>

  <div class="row no-gutters">


    <!-- LISTADO DE RESIDENCIAS -->
    <div class="col-md-6">

          {% if mensaje is defined %}

  {% if not mensaje is empty %}
    <CENTER>
      <br>
     <p>{{ mensaje }}</p>
    </CENTER>
  {% endif %}
  {% endif %}


      {% for residencia in listaresidencia %}
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>

            <div class="col-md-4 mt-3">
              <h5 class="card-title">{{ residencia.titulo }}</h5>
              <p class="card-text"> {{ residencia.direccion}} {{ residencia.pais }} </p>

              <a href="./index.php?action=mostrarResidencia&id={{residencia.idResidencia}}" class="btn btn-primary btn-sm">Abrir</a>
              
              <a href="./index.php?action=editarResidencia&id={{residencia.idResidencia}}" class="btn btn-secondary btn-sm">Editar</a>
               {% if residencia.borrada==1 %}
              
              <a href="#ventanaConfirmacion{{residencia.idResidencia}}" class="btn btn-danger btn-sm disabled" data-toggle="modal" disabled>Residencia Borrada</a>
              {% else %}
              
               <a href="#ventanaConfirmacion{{residencia.idResidencia}}" class="btn btn-danger btn-sm" data-toggle="modal" >Borrar</a>
              {% endif %}
              
             
         <!--     <a href="./index.php?action=eliminarResidencia&id={{residencia.idResidencia}}" class="btn btn-danger btn-sm">Borrar</a>  
         -->  
              <div class="modal fade" id="ventanaConfirmacion{{residencia.idResidencia}}">

                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">    
                         <h5 class="modal-title">
                                                                       
                              ¿Desea eliminar los datos de la propiedad {{residencia.titulo}}?                    
                         </h5>
                         <button type ="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>                        
                      </div>    
                      <div class="modal-body">
                        <p>
                          {% if residencia.tieneparticipantes %}
                            Esta propiedad tiene usuarios participando. 
                            Si presiona Confirmar Borrado, no se podran hacer reservas sobre la misma. ¿Desea confirmar? 
                          {% else %}
                            Si presiona Confirmar Borrado, no se podran hacer reservas sobre la misma. ¿Desea confirmar?
                          {% endif %}
                      </p>
                      </div>

                      <div class="modal-footer">
                        <button type ="button" class="btn btn-default"   data-dismiss="modal">Cancelar</button>  
                        <a  href="./index.php?action=eliminarResidencia&id={{residencia.idResidencia}}" class="btn btn-danger " role="button" >
                          Confirmar Borrado
                        </a>

                      </div>         

                  </div>
                </div> 
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- BUSCADOR DE RESIDENCIA -->
      <div class="col-md-6">
        <div class="card pt-sm-5 pl-sm-5 pr-sm-5" style="height: 100%">
          <center><h3>Buscador Residencia</h3></center>
          <form action="./index.php?action=buscarResidencia" method="POST">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
            </div>
             <input type="text" class="form-control" name='titulo' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>


          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"  for="inputGroupSelect01">Localidad</label>
             </div>
           <select class="custom-select" name="localidad" id="inputGroupSelect01">
            <option value="0" selected> Seleccione Localidad</option>
            <option value="America" > America </option>
            <option value="Gral Pico" > Gral Pico </option>
            </select>

            
          </div>
          <br>
          <center><button type="submit" style="width:23%"type="button" class="btn btn-primary">Buscar</button></center>
        </form>
        </div>
      </div>

  </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>