<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<body>

  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./imagen/logo.svg" width="65" height="55" > </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="./index.php">Inicio <span class="sr-only">(current)</span></a>
        </li>
        {% if user is empty %}
        <li class="nav-item">
          <a class="nav-link" href="./index.php?action=iniciarsesion">Login</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="./index.php?action=list-auctions">Subastas</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="./index.php?action=cargarResidencia">Cargar Residencia</a>
        </li>

        <a class="nav-link" href="./index.php?action=cerrarSesion">Cerrar Sesión</a>

        <li class="nav-item">
          <a class="nav-link" href="./index.php?action=sincronizar">SINCRONIZAR</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="row no-gutters">
    <!-- LISTADO DE RESIDENCIAS -->
    <div class="col-md-6">
      {% for residencia in listaresidencia %}
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>

            <div class="col-md-4 mt-3">
              <h5 class="card-title">{{ residencia.titulo }}</h5>
              <p class="card-text"> {{ residencia.direccion}} {{ residencia.pais }} </p>

              <a href="./index.php?action=mostrarResidencia&id={{residencia.idResidencia}}" class="btn btn-primary btn-sm">Abrir</a>
              {% if residencia.tieneparticipantes %}
              <a href="./index.php?action=editarResidencia&id={{residencia.idResidencia}}" class="btn btn-secondary btn-sm disabled" disabled>Editar</a>
              <a href="#ventanaConfirmacion{{residencia.idResidencia}}" class="btn btn-danger btn-sm disabled" data-toggle="modal" disabled>Borrar</a>
              {% else %}
              <a href="./index.php?action=editarResidencia&id={{residencia.idResidencia}}" class="btn btn-secondary btn-sm">Editar</a>
               <a href="#ventanaConfirmacion{{residencia.idResidencia}}" class="btn btn-danger btn-sm" data-toggle="modal" >Borrar</a>
              {% endif %}
             
         <!--     <a href="./index.php?action=eliminarResidencia&id={{residencia.idResidencia}}" class="btn btn-danger btn-sm">Borrar</a>  
         -->  
              <div class="modal fade" id="ventanaConfirmacion{{residencia.idResidencia}}">

                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">    
                         <h5 class="modal-title">
                           ¿Desea eliminar los datos de la residencia {{residencia.titulo}} permanentemente?
                         </h5>
                         <button type ="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
                         
                      </div>    

                      <div class="modal-body">
                        <p>Si presiona Confirmar Borrado, los datos de la residencia se eliminarán permanentemente. ¿Desea continuar? </p>
                      </div>

                      <div class="modal-footer">
                        <button type ="button" class="btn btn-default"   data-dismiss="modal">Cancelar</button>  
                        <a  href="./index.php?action=eliminarResidencia&id={{residencia.idResidencia}}" class="btn btn-danger " role="button" >
                          Confirmar Borrado
                        </a>

                      </div>         

                  </div>
                </div> 
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- DETALLE DE RESIDENCIA -->
      <div class="col-md-6">
        <div class="card pt-sm-5 pl-sm-5 pr-sm-5">
          <img class="card-img-top " src="imagen/residencia-1.jpg" height="400px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Residencia abierta</h5>
            <p class="card-text">Descripción de la residencia</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dirección</li>
            <li class="list-group-item">Provincia</li>
            <li class="list-group-item">País</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Publicaciones</a>
            <a href="#" class="card-link">Cerrar</a>
          </div>
        </div>
      </div>

  </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>