<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="./imagen/logo.svg" width="65" height="55" > </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
      <a class="nav-link" href="./index.php">Inicio <span class="sr-only">(current)</span></a>
      </li>
      {% if user is empty %}
        <li class="nav-item">
        <a class="nav-link" href="./index.php?action=iniciarsesion">Login</a>
        </li>

      {% else %}


       {% if tipousuario == "administrador" %}
       
        <li class="nav-item">
        <a class="nav-link" href="./index.php?action=cargarResidencia">Cargar Residencia</a>
        </li>

        {% endif %}

        <a class="nav-link" href="./index.php?action=cerrarSesion">{{user}}</a>










      {% endif %}
    </ul>
  </div>
</nav>