<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <button type="button" class="btn btn-outline-primary ml-3">Mi Cuenta</button>
   <button onclick="location.href='./index.php?action=verEstadoSubastas'" type="button" class="btn btn-outline-primary ml-3">Subastas Participando</button>
  <a class="navbar-brand" href="./index.php"><img src="./imagen/logo.svg" width="65" height="40"></a>
  <button onclick="location.href='./index.php?action=cerrarSesion'" type="button" class="btn btn-outline-secondary mr-3">Cerrar Sesión</button>

</nav>