<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<title>Buscar Semana</title>
<body>

<!-- NAV BAR -->
   {% include 'barra_user.html' %}

<div class="row no-gutters">

  <!-- CAJA DE BUSQUEDA -->
  <div class="col-md-3 p-3 search-box">
    <br>
    <div style="height: 10%">
    <center><h2>Buscador Semanas</h2></center>
    <form action="./index.php?action=buscarSemanas" method="POST">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Desde</span>
            </div>
             <input type="date" class="form-control" name='fecha_inicio' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Hasta</span>
            </div>
             <input type="date" class="form-control" name='fecha_fin' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"  for="inputGroupSelect01">Localidad</label>
             </div>
             <input type="text" class="form-control" name='localidad' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">   
      </div>

      <center><button type="submit"  type="button" class="btn btn-primary">Buscar</button></center>
    </form>
     </div> 

  </div>

<div class="col-md-7">


    <div class="results-box">
<center><h1>Semanas</h1></center>

            {% if mensaje is defined %}

  {% if not mensaje is empty %}
    <CENTER>
      <br>
     <p>{{ mensaje }}</p>
    </CENTER>
  {% endif %}
  {% endif %}

      {% for dato in datos.subastas %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-9 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            

            <div class="col-md-9 mt-3 ml-5">
              <h5 class="card-title">{{ dato.titulo }}</h5>
              <p class="card-text"> Tipo Semana: <span class="badge badge-primary"> Subasta</span><p>
              <p class="card-text"> Estado: <span class="badge badge-success"> En Proceso</span><p>
              <p class="card-text"> Descripcion: {{ dato.descripcion}} </p>
              <p class="card-text"> Mayor Puja: {{ dato.pujamaxima}} </p>
              <p class="card-text"> Fecha Inicio: {{ dato.residenciasemana.fecha_inicio}} </p>
              <p class="card-text"> Fecha Fin: {{ dato.residenciasemana.fecha_fin}} </p>
      <center>
      <div class="m-1" >
      <button type="button" onclick="location.href='./index.php?action=pujarSubasta&idRS={{dato.residenciasemana.idResidenciaSemana}}'"   class="btn btn-danger btn-sm">Pujar Subasta</button>
     </div>
     <div>
      <button type="button" onclick="location.href='./index.php?action=mostrarResidencia&id={{dato.residenciasemana.idResidencia}}'"   class="btn btn-primary btn-sm">Ver Residencia</button>
      </div>
      </center>
     
              </div>
            </div>
          

        </div>
      </div>
      {% endfor %}


      {% for dato in datos.directas %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-9 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            

 <!--            <div class="col mt-3 ">   -->
            

           <div class="col-md-9 mt-3 ml-5">   
              <h5 class="card-title">{{ dato.titulo }}</h5>
              <p class="card-text"> Tipo Semana: <span class="badge badge-primary"> Reserva Directa</span><p>
              <p class="card-text"> Estado: <span class="badge badge-success"> En Proceso</span><p>

              <p class="card-text"> Descripcion:{{ dato.descripcion }} </p>
              <p class="card-text"> Fecha Inicio:{{ dato.residenciasemana.fecha_inicio }} </p>
              <p class="card-text"> Fecha Fin:{{ dato.residenciasemana.fecha_fin}} </p>
              <div align="center">
              {% if tipo == "premium" %}
              <a href="#ventanaConfirmacion{{dato.residenciasemana.idSemana}}" class="btn btn-danger btn-sm" data-toggle="modal" >Comprar Semana</a>
              {% else %}
               <a href="./index.php?action=quieroCambiarRol" class="btn btn-danger btn-sm m-1" >Solicitar Premium</a>

              {% endif %}
              <button type="button" onclick="location.href='./index.php?action=mostrarResidencia&id={{dato.residenciasemana.idResidencia}}'"   class="btn btn-primary btn-sm m-1">Ver Residencia</button>

               </div> 

              <div class="modal fade" id="ventanaConfirmacion{{dato.residenciasemana.idSemana}}">

                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">    
                         <h5 class="modal-title">
                           ¿Desea Comprar la semana {{dato.residenciasemana.idSemana}} ?
                         </h5>
                         <button type ="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
                         
                      </div>    

                      <div class="modal-body">
                        <center><p>Seleccione Opcion </p></center>
                      </div>

                      <div class="modal-footer" >
                        <button type ="button" class="btn btn-default"   data-dismiss="modal">Cancelar</button>  
                        <a  href="./index.php?action=comprarDirecta&idRS={{dato.directa.idResidenciaSemana}}&idUser={{idUser}}" class="btn btn-danger " role="button" >
                          Comprar Semana
                        </a>

                      </div>         

                  </div>
                </div> 
              </div>

            </div>
          </div>

        </div>
      </div>
      {% endfor %}



      {% for hotsale in datos.hotsales %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            
            <div class="col-md-6 mt-3 ml-5">
              <h5 class="card-title">{{ hotsale.titulo }}</h5>
               <p class="card-text"> Tipo Semana: <span class="badge badge-primary">Hotsale</span><p>
              <p class="card-text"> Estado: <span class="badge badge-success"> En Proceso</span><p>
              <p class="card-text"> Descripcion:{{ hotsale.descripcion }} </p>
              <p class="card-text"> Precio: {{hotsale.hotsale.precio}}</p>
              <p class="card-text"> Fecha Inicio:{{ hotsale.hotsale.fecha_inicio }} </p>
              <p class="card-text"> Fecha Fin:{{ hotsale.hotsale.fecha_fin}} </p>
              <a href="#ventanaConfirmacion{{dato.residenciasemana.idSemana}}" class="btn btn-danger btn-sm" data-toggle="modal" >Comprar Hotsale</a>
              <button type="button" onclick="location.href='./index.php?action=mostrarResidencia&id={{hotsale.residenciasemana.idResidencia}}'"   class="btn btn-primary btn-sm">Ver Residencia</button>

              <div class="modal fade" id="ventanaConfirmacion{{dato.residenciasemana.idSemana}}">

                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">    
                         <h5 class="modal-title">
                           ¿Desea Comprar la semana {{dato.residenciasemana.idSemana}} ?
                         </h5>
                         <button type ="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
                         
                      </div>    

                      <div class="modal-body">
                        <center><p>Seleccione Opcion </p></center>
                      </div>

                      <div class="modal-footer">
                        <button type ="button" class="btn btn-default"   data-dismiss="modal">Cancelar</button>  
                        <a  href="./index.php?action=comprarHotsale&idRS={{hotsale.hotsale.idResidenciaSemana}}&idUser={{idUser}}" class="btn btn-danger " role="button" >
                          Comprar Hotsale
                        </a>

                      </div>         

                  </div>
                </div> 
              </div>








            </div>
          </div>

        </div>
      </div>
      {% endfor %}







    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>