<!DOCTYPE html>
<html>
<head>
	<title>Cambio de Password</title>
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
</head>
<body>

  {% if mensaje is defined %}

  {% if not mensaje is empty %}
    <CENTER>
    <div class="alert alert-danger" role="alert">
    {{ mensaje }}
    </div>
    </CENTER>
  {% endif %}

{% endif %}
<br>
<br>
<br>
<div class="container" >
<main class="main">
 <center> 
   <div class="card" >
    <br>
   <h1>Cambio de Password</h1>
   <br>
   <div style="width:20%;">
         <form action="./index.php?action=procesarCambioPassword&email={{email}}" method="POST">
  	          <div class="form-group">
                  <label for="inputPassword6">Ingrese Password</label>
                   <input type="password"  name="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
              </div>
              <div class="form-group">
                   <label for="inputPassword6">Repita Password</label>
                   <input type="password"  name="password2" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
             </div>
               <button type="submit" class="btn btn-primary">Terminar</button>
               <br>
               <br>
               <br>
         </form> 
  </div>
</div>
</center>
</main>
</div>


</body>
</html>