{% include 'encabezado.html' %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
{% if user is empty %}

<ul class="nav nav-pills bg-dark nav-fill">
	<li class="nav-item "><a class="navbar-brand  " href="./index.php"><img src="./imagen/logo.svg" width="70" height="40"></a>
	</li>
</ul>



{% else %}
{% if tipousuario != "administrador" %}

  {% include 'barra_user.html' %}

{% else %}

  {% include 'barra.html' %}


{% endif %}
{% endif %}
</head>
<body>
<br>
<br>
<br>
<br>
<br>
	<center><h1>{{mensaje}}</h1></center>
<br>
<br>
<br>
<br>
<br>
<center> <a class="nav-link" href="./index.php">-Volver a la Home-</a></center>
</body>
</html>