<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <title>Listado Hotsales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">

{% include 'barra.html' %}
</head>
<body>

<div class="row no-gutters">

  <div class="col-md-9">
    <div class="results-box">
      <center><h1>Hotsale</h1></center>

      {% for hotsale in hotsales %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            
            <div class="col-md-6 mt-3">
              <h5 class="card-title">{{ hotsale.titulo }}</h5>
              <span class="badge badge-danger">Inactiva</span>
              <p class="card-text"> Descripcion:{{ hotsale.descripcion }} </p>
              <p class="card-text"> Precio: A definir...</p>
              <p class="card-text"> Fecha Inicio:{{ hotsale.hotsale.fecha_inicio }} </p>
              <p class="card-text"> Fecha Fin:{{ hotsale.hotsale.fecha_fin}} </p>

              <a href="./index.php?action=habilitarHotsale&idRS={{hotsale.hotsale.idResidenciaSemana}}" class="btn btn-danger btn-sm" >Habilitar Hotsale</a>


            </div>
          </div>

        </div>
      </div>
      {% endfor %}


       {% for hotsale in hotsalesactivos %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            
            <div class="col-md-6 mt-3">
              <h5 class="card-title">{{ hotsale.titulo }}</h5>
              <span class="badge badge-success">Activo</span>
              <p class="card-text"> Descripcion:{{ hotsale.descripcion }} </p>
              <p class="card-text"> Precio: {{ hotsale.hotsale.precio }}</p>
              <p class="card-text"> Fecha Inicio:{{ hotsale.hotsale.fecha_inicio }} </p>
              <p class="card-text"> Fecha Fin:{{ hotsale.hotsale.fecha_fin}} </p>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}


    {% for hotsale in hotsalesfinalizados %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>
            
            <div class="col-md-6 mt-3">
              <h5 class="card-title">{{ hotsale.titulo }}</h5>
              <span class="badge badge-primary">Finalizado</span>
              <p class="card-text"> Descripcion:{{ hotsale.descripcion }} </p>
              <p class="card-text"> Precio: {{ hotsale.hotsale.precio }}</p>
              <p class="card-text"> Fecha Inicio:{{ hotsale.hotsale.fecha_inicio }} </p>
              <p class="card-text"> Fecha Fin:{{ hotsale.hotsale.fecha_fin}} </p>
              <p class="card-text"> Ganador: {{ hotsale.email}} </p>
              <a  href="./index.php?action=detallesCliente&idUsuario={{hotsale.idUsuario}}" class="btn btn-primary btn-sm">Perfil Ganador</a>

              <a href="./index.php?action=mostrarResidencia&id={{hotsale.residenciasemana.idResidencia}}" class="btn btn-primary btn-sm">Ver Residencia</a>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>