<!DOCTYPE html>
<html>
<head>
	<title>Listado Administradores</title>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">

</head>
<body>
	{% include 'barra.html' %}


  <script>
document.getElementById("administradores").innerHTML = "<li class='nav-item active'><a class='nav-link' href='./index.php?action=listarAdmins'><p class='font-weight-bold'>Administradores</p></a></li>";

</script>

<div class="container">
   <center><h1>Administradores</h1></center>
   <br>




	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Dni</th>
      <th scope="col" title="Presione para eliminar un Administrador">Dar de baja Administrador</th>
      
      

    </tr>
  </thead>
  <tbody>
    {% for administrador in administradores %}
    <tr>
      <td scope="row" > {{administrador.admin.username}}</td>
      <td>{{administrador.admin.nombre}}</td>
      <td>{{administrador.admin.apellido}}</td>
      <td>{{administrador.admin.dni }}</td>     
      <td>
        
        <a href="#ventanaConfirmacion{{administrador.admin.idAdministrador}}" class="btn btn-danger" data-toggle="modal">Eliminar Administrador</a></td>
     

      
   
    </tr>

    <div class="modal fade" id="ventanaConfirmacion{{administrador.admin.idAdministrador}}">

                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">    
                         <h5 class="modal-title">
                                                          
                            {% if administrador.admin.username == user %}
                              ¿Esta seguro que desea eliminarse del sistema?

                               {% else %}
                                        
                              ¿Esta seguro que desea eliminar al administrador con username:  {{administrador.admin.username}}? 
                            {% endif %}                   
                         </h5>
                         <button type ="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>                        
                      </div>    
                      <div class="modal-body">
                        <p>
                          {% if administrador.admin.username == user %}
                            Si presiona Eliminar se cerrara la sesion y usted sera dado de baja del sistema. Desea continuar?
                          {% else %}
                            Si presiona Eliminar el usuario desaparecera del listado, y sera dado de baja del sistema. Desea continuar?
                          {% endif %}
                      </p>
                      </div>

                      <div class="modal-footer">
                        <button type ="button" class="btn btn-default"   data-dismiss="modal">Cancelar</button>  
                        <a href="./index.php?action=desactivarCuentaAdmin&idAdministrador={{administrador.admin.idAdministrador}}" class="btn btn-danger " role="button" >
                          Eliminar
                        </a>

                      </div>         

                  </div>
                </div> 
              </div>
    {% endfor %}
  </tbody>
</table>

     <a class="btn btn-primary float-right"  href="./index.php?action=registraradmin" role="button">Registrar Nuevo Admin</a>
</div>


   


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>