<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<head>
  <!-- Required meta tags -->
   <title>Home Residencias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<body>

   <a href="./index.php?action=crearDirectasParaTodasLasResidencias" class="btn btn-primary btn-sm">Crear Directas</a>

   <br>
   <br>
   <br>
   <br>

	 <a href="./index.php?action=sincronizarDirectas" class="btn btn-primary btn-sm">Sincronizar Directas 2020</a>

	 <a href="./index.php?action=sincronizarSubastas" class="btn btn-primary btn-sm">Sincronizar Subastas 2020</a>

   <a href="./index.php?action=sincronizarHotsales" class="btn btn-primary btn-sm">Sincronizar Hotsales 2020</a>



   <br>
   <br>
   <br>
   <br>

    <a href="./index.php?action=sincronizarDirectas2021" class="btn btn-primary btn-sm">Sincronizar Directas 2021</a>





</body>
</html>