

{% if tipousuario != "administrador" %}

	
                        
 		{% if esPremium %}
 		  <div class="card  bg-info">
 			<div class= "card-header " align="center">
         		 <FONT SIZE=5 color="white" ><b>Soy Premium!</b> </font>
       		 </div>
			<a href="./index.php?action=quieroCambiarRol"class="btn btn-info p-1 m-1 ">Volver a Estandar </a>
		  </div>
		{% endif %}

		{% if not esPremium %}
		<div class= "card-header my-2 bg-warning" align="center" >
                   <H5>Pasate a Premium por solo ${{tarifapremium}} mensuales</H5> 
        </div>
		<div class="card  bg-info">
 			<div class= "card-header " align="center">
         		 <FONT color ="white" SIZE=4 ><b>Soy usuario Estandar</b> </font>
       		 </div>
			<a href="./index.php?action=quieroCambiarRol"class="btn btn-success p-1 m-1 ">Quiero ser Premium! </a>
		</div>
		{% endif %}
	
{% endif %}

		

