<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<title>Buscar Semana</title>
<body>

<!-- NAV BAR -->
   {% include 'barra_user.html' %}


<div class="row no-gutters">
<!--
  <div class="col-md-3 search-box">
    <br>
    <div style="height: 10%">
    <center><h2>Buscador Semanas</h2></center>
    <form action="./index.php?action=buscarSemanas" method="POST">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Desde</span>
            </div>
             <input type="date" class="form-control" name='fecha_inicio' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroup-sizing-default">Hasta</span>
            </div>
             <input type="date" class="form-control" name='fecha_fin' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"  for="inputGroupSelect01">Localidad</label>
             </div>
             <input type="text" class="form-control" name='localidad' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">   
      </div>

      <center><button type="submit" style="width:23%" type="button" class="btn btn-primary">Buscar</button></center>
    </form>
     </div> 

  </div>
-->
<div class="col-md-7">

    <div class="results-box">

      {% for dato in listaresidencia %}
      <div class="card mb-5">
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 ml-5 mr-3">
              <img src="./imagen/imagen1.jpg" class="card-img" alt="...">
            </div>

            <div class="col-md-4 mt-3">
              <h5 class="card-title">{{ dato.titulo }}</h5>
              <p class="card-text"> {{ dato.direccion}} {{ dato.pais }} </p>
      <button type="button" onclick="location.href='./index.php?action=mostrarResidencia&id={{dato.idResidencia}}'"   class="btn btn-primary btn-sm">Ver Residencia</button>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>