<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">


</head>
<body>

<!-- NAV BAR -->
<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <button onclick="location.href='./index.php'" type="button" class="btn btn-outline-primary ml-3">VOLVER</button>
   <button onclick="location.href='./index.php?action=verEstadoSubastas'" type="button" class="btn btn-outline-primary ml-3">Subastas Participando</button>
  <a class="navbar-brand" href="./index.php"><img src="./imagen/logo.svg" width="65" height="40"></a>
     <button onclick="location.href='./index.php?action=listarDirectas'" type="button" class="btn btn-outline-secondary mr-3">Listar Directas</button>
  <button onclick="location.href='./index.php?action=cerrarSesion'" type="button" class="btn btn-outline-secondary mr-3">Cerrar Sesión</button>

</nav>





<div class="container">


  <main class="main" >
    


    <div class= "card  col-md-6 offset-md-3  mt-4 mb-5" >
      <img class="card-img-top" src="./imagen/usuario.png" alt="Card image cap">
      <div class= "card-header " align="center">
        <FONT SIZE=5 ><b>Datos del usuario</b> </font>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="nombre" name="nombre" >
          <FONT SIZE=4><b>Nombre: </b></font>{{ datos.nombre }}</li>
        <li class="list-group-item" id="apellido" name="apellido" >
          <FONT SIZE=4><b>Apellido: </b></font>{{ datos.apellido }}</li>
        <li class="list-group-item" id="email" name="email" >
          <FONT SIZE=4><b>Email: </b></font> {{ datos.email }}</li>
        <li class="list-group-item" id="password" name="password" >
          <FONT SIZE=4><b>Contraseña: </b></font>{{datos.password}}</li>
        <li class="list-group-item" id="creditos" name="creditos" >
          <FONT SIZE=4><b>Creditos Disponibles: </b></font>{{ datos.creditos }}</li>
        <li class="list-group-item" id="fecha_nac" name="fecha_nac" >
          <FONT SIZE=4><b>Fecha de Nacimiento: </b></font>{{ datos.fecha_nac }}</li>
        <li class="list-group-item" id="tarjeta" name="tarjeta" >
          <FONT SIZE=4><b>Numero de Tarjeta: </b></font>{{ datos.tarjeta }}</li>
        <li class="list-group-item" id="fecha_reg" name="fecha_reg" ><FONT SIZE=4><b>Fecha de Registro: </b></font>{{ datos.fecha_reg }}</li>
      </ul>
      <div class="card-body">
        <a href="./index.php?action=editarPerfil"class="btn btn-primary">Editar Datos</a>
      </div>
    </div>






</main>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>