<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AMG CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
<title>Mi Perfil</title>

</head>
<body>

<!-- NAV BAR -->
{% if tipousuario != "administrador" %}

  {% include 'barra_user.html' %}

{% else %}

  {% include 'barra.html' %}


{% endif %}





<div class="container">
  <main class="main" >
    <div class="row">

      <div class= "card  col-sm-3  mt-4 mb-5" >   
         <div class="card-body">

              {% include 'quieroCambiarRol.html' %}
              
              {% if tipousuario != "administrador" %}
             
                {% if esPremium %}
                  
                {% endif %}

                {% if not esPremium %}
                
                 <div class= "card-header mt-5 " align="center" >
                   Beneficios de ser Usuario Premium 
                 </div>
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="" name="" >
                      Posibilidad de hacer reservas directas</li>
                    <li class="list-group-item" id="" name="" >
                      No tendra que abonar un adicional por reserva directa</li>
                    <li class="list-group-item" id="" name="" >
                      Cada reserva directa consumira solo un credito</li>  
                      

                 </ul>
                {% endif %}
              
              {% endif %}

         </div>
      </div>

      <div class= "card  col-md-6  mt-4 mb-5" >

        {% if tipousuario != "administrador" %}

          <h1 class="mt-3" align="center">Mi perfil</h1>

        {% else %}

          <h3 class="mt-3" align="center">Perfil del Usuario: {{datos.email}}</h3>


        {% endif %}

        



        <img class="card-img-top" src="./imagen/usuario.png" alt="Card image cap" >
        <div class= "card-header " align="center">

          {% if tipousuario != "administrador" %}

            <FONT SIZE=6 ><b>Datos del usuario <a href="./index.php?action=editarPerfil" class="btn mb-2 "><img class= ""  src="./imagen/icon-editar.svg" title="Editar Perfil" width="30" height="30"></a></b> </font>

          {% else %}

            <FONT SIZE=6 ><b>Datos del usuario <a href="./index.php?action=detallesClienteEditarPerfil&idUsuario={{user}}" class="btn mb-2 "><img class= ""  src="./imagen/icon-editar.svg" title="Editar Perfil" width="30" height="30"></a></b> </font>


          {% endif %}


          

            


        </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="nombre" name="nombre" >
          <FONT SIZE=4><b>Nombre: </b></font>{{ datos.nombre }}</li>
        <li class="list-group-item" id="apellido" name="apellido" >
          <FONT SIZE=4><b>Apellido: </b></font>{{ datos.apellido }}</li>
        <li class="list-group-item" id="email" name="email" >
          <FONT SIZE=4><b>Email: </b></font> {{ datos.email }}</li>
        <!--<li class="list-group-item" type="password" id="password" name="password" >
          <FONT SIZE=4><b>Contraseña: </b></font>{{datos.password}}</li>-->
        <li class="list-group-item" id="creditos" name="creditos" >
          <FONT SIZE=4><b>Creditos Disponibles: </b></font>{{ datos.creditos}} <font class=float-right>Vencen: {{ fechaVencimiento }} </font> </li>
        <li class="list-group-item" id="fecha_nac" name="fecha_nac" >
          <FONT SIZE=4><b>Fecha de Nacimiento: </b></font>{{ datos.fecha_nac }}</li>
        <li class="list-group-item" id="tarjeta" name="tarjeta" >
          <FONT SIZE=4><b>Numero de Tarjeta: </b></font>{{ datos.tarjeta }}</li>
        <li class="list-group-item" id="fecha_reg" name="fecha_reg" ><FONT SIZE=4><b>Fecha de Registro: </b></font>{{ datos.fecha_reg }}</li>
      </ul>
      {% if tipousuario != "administrador" %}

      <div align="center" class="card-body">

      

     <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Desactivar Cuenta </button>
    </div>

      <!-- Desactivar Cuenta -->
       <form action="./index.php?action=desactivarCuenta" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby= "exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
               <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desactivar Cuenta</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                ¿Esta Seguro que quiere desactivar su cuenta?
               </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Confirmar</button>

      </div>
      </div>
    </div>
  </div>
</form>


      {% endif %}


    </div>

            <div class= "card  col-sm-3  mt-4 mb-5" >   
               <div class="card-body" >
                  {% if tipousuario != "administrador" %}
                    <button type="button" onclick="location.href='./index.php?action=verHistorialCompras'" class="btn btn-warning">Historial de compras</button> 
                  {% else %}
                    <button type="button" onclick="location.href='./index.php?action=detallesClienteHistorial&idUsuario={{user}}'" class="btn btn-warning">Historial de compras</button>
                  {% endif %} 

               </div>
                  
                 
            </div>

      </div>


     </div>
   </main>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>